.Buttons {
    padding-top: 20px;
    align-items: center;
}

.Character-input-box {
    padding: 15px;
    font-size: x-large;
}

.Character-output {
    padding-top: 100px;
}

.Character-output-box {
    padding: 5px;
    font-size: medium;
    height: 300px;
    width: 400px;
}

.Add-button {
    color: white;
    background-color: black;
    font-size: 30pt;
    padding: 6px;
    font-weight: bold;
    vertical-align: middle;
}

.Add-button:hover {
    background-color: darkslategray;
}

.Empty-composition {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Empty-composition-explanation {
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Remove-button {
    color: white;
    background-color: red;
    text-align: center;
    font-size: x-large;
    border-radius: 50%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    margin-left: 20px;
}

.Remove-button:hover {
    background-color: darkred;
}