.Buttons {
    padding-top: 20px;
}

.Character-input {
    padding: 15px;
}

.Character-input-box {
    padding: 12px;
    font-size: x-large;
}

.Add-button {
    color: white;
    background-color: grey;
    font-size: xx-large;
    padding-top: 5px;
    padding-bottom: 9px;
    padding-left: 5px;
    padding-right: 8px;
    text-align: center;
}

.Add-button:hover {
    background-color: darkslategray;
}